<h2>Reporter output</h2><table><tr><td>[INFO ] [2021-01-21 09:26:53,605] TC_01_Sort_Product_Name: Name (A to Z)
<br></td></tr>
<tr><td>[INFO ] [2021-01-21 09:26:58,942]  -------------------------- PASSED -------------------------- 
<br></td></tr>
<tr><td>[INFO ] [2021-01-21 09:26:58,943] TC_01_Sort_Product_Name: Name (Z to A)
<br></td></tr>
<tr><td>[INFO ] [2021-01-21 09:27:04,307]  -------------------------- PASSED -------------------------- 
<br></td></tr>
<tr><td>[INFO ] [2021-01-21 09:27:04,369] TC_02_Sort_Product_Price: Price (low to high)
<br></td></tr>
<tr><td>[INFO ] [2021-01-21 09:27:09,691]  -------------------------- PASSED -------------------------- 
<br></td></tr>
<tr><td>[INFO ] [2021-01-21 09:27:09,691] TC_02_Sort_Product_Price: Price (high to low)
<br></td></tr>
<tr><td>[INFO ] [2021-01-21 09:27:14,987]  -------------------------- PASSED -------------------------- 
<br></td></tr>
</table>